<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= Spree.t("#{params[:template]}.header") %></title>
</head>

<body onLoad="self.print()"> 
  <div class="receipt">
    <div id="header">
      <%= render :partial => "spree/admin/invoice/receipt_header" %>
    </div>
    
    <div class="wrapper">
      <div class="line_items">
        <%= render :partial => "spree/admin/invoice/line_items_invoice" %>
      </div>
      <!--<div class="spacer"> &nbsp;</div>-->
      <div class="totals">
        <%= render :partial => "spree/admin/invoice/totals_receipt" %>
      </div>
    </div>
  </div>
</body>
</html>

