<div class="panel panel-default pos">
  <div class='panel-heading center'>Pos Settings</div>
  <div class='panel-body'>
    <label>Pos Shipping Method</label>
    <%= select_tag :pos_shipping, options_from_collection_for_select(Spree::ShippingMethod.all, :name, :name, SpreePos::Config[:pos_shipping]), :class => 'fullwidth' %>
  </div>
</div>
